@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    border: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }

  .toFit{
    max-width: 90vw;
    margin: auto;
  }

  .dropdownmenu li {
	float: left;
	position: relative;
}

.dropdownmenu a {
	color: black;
	display: block;
	font: bold;
	padding: 10px 2vw;
	text-align: center;
	-webkit-transition: all .20s ease;
	-moz-transition: all .20s ease;
	-ms-transition: all .20s ease;
	-o-transition: all .20s ease;
	transition: all .20s ease;
}
.dropdownmenu li:hover a {
	background: #FFC700;
  
}
.submenu {
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: 1;
	width: 100%;
}

li:hover ul.submenu {
  
	opacity: 1;
	visibility: visible;
}
.submenu li {
	width: 100%;
}
.submenu li a:hover {
	background: #ecb900
}